/* ESTILOS DEL MENU DE ADMINISTRACIÓN */
.thumbnail_mapa{
    max-width: 50% !important;
    transform: none !important;
}

.box {
    height: 60px;
    margin: 10px;
}
.alert {
    padding: 10px !important;
}

/* ESTILO MENU DE ADMINISTRACION CALLES */

.selected {
    color: white;
    background-color:#17A2B8;
}

.mapas {
    position: absolute !important;
}