html, body {
    height: 100%;
}

#fondo_form {
    color: white;
    text-shadow: 1px 1px rgb(85, 84, 84);
    margin-top: 5%;
    background-color: rgba(194, 194, 194, 0.719);
    border-radius: 20px;
    padding: 40px;
}

body {
    background: url('../img/bg.jpg') no-repeat center center;
    background-size : cover;
}

